{% extends "base.html" %}

{% block main %}
    <h1>{{ file.name }}</h1>

    <p>
        {{ entities|length }} named entities
        |
        <a href="{% url 'file_download' file.id %}">
            Export as JSON file
        </a>
    </p>

    <form method="POST" action="{% url 'file_delete' file.id %}">
        {% csrf_token %}
        <p>
            <button type="submit">Delete this upload</button>
        </p>
    </form>

    <table>
        <thead>
            <tr>
                <th>Actions</th>
                <th>Named entity</th>
                <th>Timecode</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <form method="POST" action="{% url 'entity_delete' entity.id %}">
                        {% csrf_token %}
                        <button type="submit" aria-label="Delete">x</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action="{% url 'entity_update' entity.id %}"
                          class="form form--inline">
                        {% csrf_token %}
                        <input name="name" aria-label="Name" value="{{ entity.name }}">
                        <input name="label" aria-label="Label" value="{{ entity.label }}">
                        <button type="submit" aria-label="Submit">S</button>
                    </form>
                </td>
                <td>
                    {{ entity.timecode }}
                </td>
                <td>
                    {{ entity.segment }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
