{% extends "base.html" %}

{% block main %}
    <h1>{{ file.name }}</h1>

    <p>
        {{ entities|length }} named entities
    </p>

    <form method="POST" action="{% url 'file_delete' file.id %}">
        {% csrf_token %}
        <p>
            <button type="submit">Delete this upload</button>
        </p>
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Label</th>
                <th>Timecode</th>
                <th>Source</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {{ entity.name }}
                </td>
                <td>
                    {{ entity.label }}
                </td>
                <td>
                    {{ entity.timecode }}
                </td>
                <td>
                    {{ entity.segment }}
                </td>
                <td>
                    <button aria-label="Delete">x</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}