thead > tr {
  background-color: lightblue;
}

tbody > tr:nth-child(even) {
  background-color: lightgray;
}

tbody input {
  background-color: transparent;
  border: 1px dotted black;
}

.form--inline {
  display: flex;
}


/* Utilities */

.u-flex { display: flex; }

.u-mt { margin-top: 1rlh; }
.u-mr { margin-right: 1rlh; }
.u-mb { margin-bottom: 1rlh; }
.u-ml { margin-left: 1rlh; }
